Este Notebook é parte da <b>Data Scientist with Python Career Track</b> da plataforma DataCamp<br>
Além das resoluções, este notebook pode conter outras análises e modificações realizadas por mim.<br>
<hr/>

#  <font color='red'> A história do GitHub da linguagem Scala<hr>

# Análise Guiada

## 1. Dados do repositório de projetos do mundo real do Scala<br>
Com quase 30 mil commits e um histórico de mais de dez anos, Scala é uma linguagem de programação madura. É uma linguagem de programação de uso geral que recentemente se tornou outra linguagem proeminente para cientistas de dados.<br>

Scala também é um projeto de código aberto. Projetos de código aberto têm a vantagem de que todo o histórico de desenvolvimento - quem fez as alterações, o que foi alterado, revisões de código, etc. - estão disponíveis publicamente.<br>

Vamos ler, limpar e visualizar o repositório de projetos do mundo real do Scala que abrange dados de um sistema de controle de versão (Git) e de um site de hospedagem de projetos (GitHub). Descobriremos quem teve mais influência em seu desenvolvimento e quem são os especialistas.<b>

O conjunto de dados que usaremos, previamente minerado e extraído do GitHub, é composto por três arquivos:

* `pulls_2011-2013.csv` contém as informações básicas sobre as solicitações de pull e abrange desde o final de 2011 até (mas não incluindo) 2014.
* `pulls_2014-2018.csv` contém informações idênticas e abrange de 2014 a 2018.
* `pull_files.csv` contém os arquivos que foram modificados por cada pull request.

### Dicionário de dados

pid:
user:
date:
file:

### Importando bibliotecas, carregando e visualizando os datasets

In [1]:
# Importando Biliotecas

import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Carregando os dados

pulls_one = pd.read_csv('Datasets/pulls_2011-2013.csv', sep=',')
pulls_two = pd.read_csv('Datasets/pulls_2014-2018.csv', sep=',')
pulls = pd.read_csv('Datasets/pulls.csv', sep=',') 
pulls_files = pd.read_csv('Datasets/pull_files.csv', sep=',')

In [3]:
# Visualizando 5 amostras de cada dataset

print(pulls_one.sample(5))
print(pulls_two.sample(5))
print(pulls_files.sample(5))

          pid          user                  date
195   9834268     som-snytt  2013-11-11T04:04:07Z
652   6399610      retronym  2013-06-18T21:08:18Z
1310  3867288      retronym  2013-01-28T15:42:19Z
3070   873867         namin  2012-02-23T14:12:29Z
2419  1768970  magarciaEPFL  2012-07-11T15:42:30Z
            pid         user                  date
1291   59654390  felixmulder  2016-02-17T14:52:35Z
2669   12718292          soc  2014-02-19T21:05:30Z
1416   51011084          soc  2015-11-17T21:59:30Z
904    82965475    SethTisue  2016-08-26T22:56:39Z
219   137376576     retronym  2017-08-24T06:16:01Z
            pid          user                  date
3115    9762364       szeiger  2013-11-07T16:10:00Z
1362   55823655  ruippeixotog  2016-01-12T22:00:03Z
914    81905661     andyscott  2016-08-18T23:34:03Z
580   105466429    propensive  2017-02-09T16:46:12Z
3620    5926521      adriaanm  2013-05-24T22:07:00Z
            pid                                               file
75246   1735278  src/compiler/scala/reflect/makro/runtime/Mirro...
7094   98930185  src/compiler/scala/tools/nsc/CompilationUnits....
11233  73165137  test/junit/scala/tools/nsc/backend/jvm/LineTes...
37087   9706099  src/library/scala/collection/immutable/MapProx...
79144   1301828   src/compiler/scala/tools/asm/tree/FieldNode.java

## 2. Preparação e limpeza dos dados<br>

Primeiro, precisaremos combinar os dados dos dois DataFrames pull separados.<br>

Em seguida, os dados brutos extraídos do GitHub contêm datas no formato ISO8601. No entanto, os pandas os importam como strings regulares. Para facilitar nossa análise, precisamos converter as strings em objetos DateTime do Python. Os objetos DateTime têm a propriedade importante de que podem ser comparados e classificados.<br>

Os tempos de solicitação de pull estão todos em UTC (também conhecido como Tempo Universal Coordenado). Os tempos de confirmação, no entanto, estão na hora local do autor com informações de fuso horário (número de horas de diferença do UTC). Para facilitar as comparações, devemos converter todos os horários para UTC.<br>

# Combinando os datasets

In [13]:
# Utilizando método concat do pandas para combinar os dois datasets
# Os argumentos utilizados garantem que o index será ignorado e uma nova ordem de index será gerada, além da verificação de integridade
# que evitará valores do índice duplicados.

pull = pulls = pd.concat([pulls_one,pulls_two],ignore_index=True, verify_integrity=True)
pull.head(5)

        pid         user                  date
0  11166973  VladimirNik  2013-12-31T23:10:55Z
1  11161892      Ichoran  2013-12-31T16:55:47Z
2  11153894      Ichoran  2013-12-31T02:41:13Z
3  11151917      rklaehn  2013-12-30T23:45:47Z
4  11131244        qerub  2013-12-29T17:21:01Z

### Convertendo o tipo de dados

In [12]:
# Utilizando o método do to_datetime do pandas para converter os dados da coluna Date para o formato datetime
# O argumento utilizado utc=True permitirá que os horários sejam convertidos para o mesmo fuso horário, assim facilitará a comparação

pulls['date'] = pd.to_datetime(pulls['date'], utc=True)
pulls.head(5)

        pid         user                      date
0  11166973  VladimirNik 2013-12-31 23:10:55+00:00
1  11161892      Ichoran 2013-12-31 16:55:47+00:00
2  11153894      Ichoran 2013-12-31 02:41:13+00:00
3  11151917      rklaehn 2013-12-30 23:45:47+00:00
4  11131244        qerub 2013-12-29 17:21:01+00:00

## 3. Mesclando os DataFrames

## 4. O projeto ainda é mantido ativamente?

## 5. Existe camaradagem no projeto?

## 6. Quais arquivos foram alterados nas últimas dez pull requests?

## 7. Quem fez mais pull requests para um determinado arquivo?

## 8. Quem fez os últimos dez pull requests em um determinado arquivo?

## 9. Os pull requests de dois desenvolvedores especiais

## 10. Visualizando as contribuições de cada desenvolvedor

# Análises Extras